<h3>Rails Database Naming Conventions</h3>
<ul>
  <li>
    Table names are lowercase and plural. &nbsp;For example, "users".
  </li>
  <li>
    Column names are lowercase. &nbsp;For example, "user_id".
  </li>
  <li>
    Every table has a primary key. &nbsp;It is an integer column called "id".
  </li>
  <li>
    A column referencing the primary key of another table is the singular form
    of that other table's name, plus "_id". &nbsp;The "user_id" 
    column refers to the "id" column of the "users" table.
  </li>
</ul>