  <% if @class_name == nil %>
    <h3>Dude, you have to specify the name of the class (such as "User") for a real model.<h3>
  <% else if @model_instance == nil %>
    <h3>Dude, the name of the class specified didn't correspond to a model in this application.</h3>
  <% end %>

  <% if @class_name != nil && @column_names.length > 0 %>
    <h3>I see these <%= @column_names.length %> attributes in the <%= @class_name %> class:</h3>
    <ul>
      <% @column_names.each do |name| %>
        <li><%= name %></li>
      <% end %>
    </ul>
  <% else %>
    <h3>Dude, the <%= @class_name %> model name totally didn't fly.</h3>
  <% end %>
