<h3>The development database for <%= @application %> has tables that have "associatable" columns.</h3>

<div id="display_buttons">
  <% @button_set.each do |this_button| %>
    <%= submit_tag this_button[:table], :class => "table_button",
                  :table => this_button[:table], :application => @application %>
  <% end %>                                           
</div>

<br/>

<div id="display_table">
  Click one of the above buttons to see the corresponding table's model associations.
</div>