      <h2>Modelizer</h2>
      <p>Helping you get what you want from your models</p>
    	<br/>
      <p style="color: green"><%= flash[:notice] %></p>

      <% if flash[:message] %>
        <div><%= h flash[:message] %></div>
      <% end %>
